# Ignore local.properties (contains sensitive info like API keys)
local.properties

# Ignore build directories
/build
*/build

# Ignore IDE and log files
.gradle/
.idea/
*.iml
*.log

# Ignore misc
.DS_Store
